body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    box-sizing: border-box;
    box-shadow: 0 16px 0 0 white;
}
.fa-bars{
    color: white;
}
.navbar .navbar-brand img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}
.nav-item .nav-link{
    color: black !important;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item .nav-link:hover{
    background-color: #CAD5E2 !important;
}
/* end nav section  */
.naike-react-section{
    /* padding-top: 60px; */
}
.naike-react-section .naike-left-section img{
    width: 80%;
}
/* end naike-react-section  */
.casual-shoes-fullSection{
    padding-top: 100px;
    padding-bottom: 100px;
}
.casual-shoes-fullSection .card{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 8px 16px 16px 8px gray;
}

.formal-shoes{
    padding-top: 100px;
    padding-bottom: 50px;
}
.formal-shoes .card{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 8px 16px 16px 8px gray;
}


@media  screen and (max-width: 575px) {
    .navbar .navbar-brand img{
        width: 100%;
    }
    .naike-react-section .naike-left-section img{
        width: 100%;
    }
    .casual-shoes-fullSection .cArd-section{
       padding-bottom: 20px;
    }
}
@media  screen and (max-width: 576px){
    .casual-shoes-fullSection .cArd-section{
        padding-bottom: 20px;
     }
}
@media  screen and (max-width: 768px){
    .casual-shoes-fullSection .cArd-section{
        padding-bottom: 20px;
     }
}
@media  screen and (max-width: 992px){
    .casual-shoes-fullSection .cArd-section{
        padding-bottom: 20px;
     }
}